@import './Index.css';

#search-bar{
  background-color: var(--color-secondary);
  height: 3rem;
  padding: 0.5rem 22px;
}

input{
  background: transparent;
  border-bottom: 2px solid var(--color-dark);
  color: var(--color-dark);
  font-weight: bold;
  outline: none;
}

input:focus{
  background: transparent; 
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-dark);
  font-weight: bold;
  outline: none;
}

input::placeholder{
  color: #ffff;
  font-weight: bold;
}

.iconClean{
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}